#headerRow {
    background-color: #404040;
    text-align: center;
    height: 130px;
    position: relative;
}
.headerText {
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
    overflow: auto;
}
#sunnyBanner {
    padding: 20px;
    height: 100%;
    margin: 0 auto;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#headerRow a {
    background: center center no-repeat transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 85px;
    left: 20px;
}
.mm-selected {
    background-color: #d3d754;
    color: #404040;
}
#my-menu li {
    font-weight: bold;
    cursor: pointer
}
select:disabled {
    opacity: .5;
}
select:disabled:hover {
    border-color: red!important;
}

#rundetailPickerCont {
    min-height: 200px;
    max-height: 200px;
    height: 200px;
    overflow: auto;
}
.runscopeitems {
/*            margin: 10px;*/
    background-color: #ccc;
} 
.runscopeitemhead {
/*            margin: 10px;*/
    background-color: #333;
    color: #fff;
} 
.rundetailitemtext {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    vertical-align: middle;
    text-align: center;
}
.shiftLeft {
    margin-left: -100px;
}
#currentPage {
    position: absolute;
    width: 200px;
    height: 40px;
    bottom: -40px;
    left: 50%;



}
#currentPageInner {
    position: absolute;
    width: 200px;
    padding: 5px;
    left: -50%;
    font-weight: bold;
    background-color: #d3d754;
    z-index: 2;
    font-size: 21px;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
}
#contentWrap {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #fff;
}
.clientDivTableHeaders,
.serverDivTableHeaders,
.databaseDivTableHeaders,
.rundetailDivTableHeaders,
.runDetailgroupDivTableHeaders,
.scopeDivTableHeaders,
.runScopeDivTableHeaders,
.groupDivTableHeaders,
.runInfoDivTableHeaders,
.runGroupDivTableHeaders {
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    color: #fff;
    font-family: arial;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.iziModal-header-title {
    color: #fff!important;
    font-weight: bold!important;
}
.activeChanger {
	border-top: 5px solid #d3d754!important;
    background-color: white !important;
}
.sectionTabs, .sectionTabs2 {
    padding: 10px 20px;
	font-size: 20px;
    float: left;
    background-color: #ccc;
	transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis; 
	text-align: center;
}
.sectionChanger {
    margin-bottom: 20px;
    overflow: auto;
}

#clientTableHolder,
#serverTableHolder,
#databaseTableHolder, 
#rundetailTableHolder, 
#runDetailgroupTableHolder, 
#scopeTableHolder, 
#runScopeTableHolder, 
#groupTableHolder, 
#runInfoTableHolder, 
#runGroupTableHolder {
    width: 100%;
    font-family: arial;
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(117, 117, 117, 1) 100%);
    /* ff3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(117, 117, 117, 1)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    /* safari4+,chrome */
    
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(117, 117, 117, 1) 100%);
    /* safari5.1+,chrome10+ */
    
    background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(117, 117, 117, 1) 100%);
    /* opera 11.10+ */
    
    background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(117, 117, 117, 1) 100%);
    /* ie10+ */
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(117, 117, 117, 1) 100%);
    /* w3c */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#000000', GradientType=0);
    /* ie6-9 */
    
    height: 40px;
    padding-top: 15px;
    position: relative;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.fields {
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #404040;
    font-family: arial;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
}
.activeRows {
    clear: both;
    border-bottom: 1px solid #ccc;
    overflow: auto;
}
.fieldRow:nth-child(odd) {
     background-color: #ccc;
}
.selectedRow {
    -webkit-box-shadow: inset 0px 0px 11px 0px rgba(211, 215, 84, 1);
    -moz-box-shadow: inset 0px 0px 11px 0px rgba(211, 215, 84, 1);
    box-shadow: inset 0px 0px 11px 0px rgba(211, 215, 84, 1);
}
.buttonCont {
    margin-bottom: 20px;
    text-align: right;
}
.subRow {
    width: 100%;
    clear: both;
    overflow: auto;
}
.myButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bec24b), color-stop(1, #d3d754));
    background: -moz-linear-gradient(top, #bec24b 5%, #d3d754 100%);
    background: -webkit-linear-gradient(top, #bec24b 5%, #d3d754 100%);
    background: -o-linear-gradient(top, #bec24b 5%, #d3d754 100%);
    background: -ms-linear-gradient(top, #bec24b 5%, #d3d754 100%);
    background: linear-gradient(to bottom, #bec24b 5%, #d3d754 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bec24b', endColorstr='#d3d754', GradientType=0);
    background-color: #bec24b;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #bec24b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff!important;
    width: 40px;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 6px;
    text-decoration: none!important;
}
.buttonMid {
    width: 8%;
    display: inline-block;
}
.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d3d754), color-stop(1, #bec24b));
    background: -moz-linear-gradient(top, #d3d754 5%, #bec24b 100%);
    background: -webkit-linear-gradient(top, #d3d754 5%, #bec24b 100%);
    background: -o-linear-gradient(top, #d3d754 5%, #bec24b 100%);
    background: -ms-linear-gradient(top, #d3d754 5%, #bec24b 100%);
    background: linear-gradient(to bottom, #d3d754 5%, #bec24b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d3d754', endColorstr='#bec24b', GradientType=0);
    background-color: #bec24b;
    color: #fff;
    text-decoration: none;
}
.myButton:active {
    position: relative;
    top: 1px;
    color: #fff;
    text-decoration: none;
}
.myButtonProcess {
    margin-top: 50px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bec24b), color-stop(1, #d3d754));
    background: -moz-linear-gradient(top, #bec24b 5%, #d3d754 100%);
    background: -webkit-linear-gradient(top, #bec24b 5%, #d3d754 100%);
    background: -o-linear-gradient(top, #bec24b 5%, #d3d754 100%);
    background: -ms-linear-gradient(top, #bec24b 5%, #d3d754 100%);
    background: linear-gradient(to bottom, #bec24b 5%, #d3d754 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bec24b', endColorstr='#d3d754', GradientType=0);
    background-color: #bec24b;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #bec24b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff!important;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 6px;
    text-decoration: none!important;
}
.myButtonProcess:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d3d754), color-stop(1, #bec24b));
    background: -moz-linear-gradient(top, #d3d754 5%, #bec24b 100%);
    background: -webkit-linear-gradient(top, #d3d754 5%, #bec24b 100%);
    background: -o-linear-gradient(top, #d3d754 5%, #bec24b 100%);
    background: -ms-linear-gradient(top, #d3d754 5%, #bec24b 100%);
    background: linear-gradient(to bottom, #d3d754 5%, #bec24b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d3d754', endColorstr='#bec24b', GradientType=0);
    background-color: #bec24b;
    color: #fff;
    text-decoration: none;
}
.myButtonProcess:active {
    position: relative;
    top: 1px;
    color: #fff;
    text-decoration: none;
}
.myButtonNo {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bf3939), color-stop(1, #e23939));
    background: -moz-linear-gradient(top, #bf3939 5%, #e23939 100%);
    background: -webkit-linear-gradient(top, #bf3939 5%, #e23939 100%);
    background: -o-linear-gradient(top, #bf3939 5%, #e23939 100%);
    background: -ms-linear-gradient(top, #bf3939 5%, #e23939 100%);
    background: linear-gradient(to bottom, #bf3939 5%, #e23939 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bf3939', endColorstr='#e23939', GradientType=0);
    
    background-color: #bf3939;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #bf3939;
    display: inline-block;
    cursor: pointer;
    color: #ffffff!important;
    width: 40px;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 6px;
    text-decoration: none!important;
}
.myButtonNo:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e23939), color-stop(1, #bf3939));
    background: -moz-linear-gradient(top, #e23939 5%, #bf3939 100%);
    background: -webkit-linear-gradient(top, #e23939 5%, #bf3939 100%);
    background: -o-linear-gradient(top, #e23939 5%, #bf3939 100%);
    background: -ms-linear-gradient(top, #e23939 5%, #bf3939 100%);
    background: linear-gradient(to bottom, #e23939 5%, #bf3939 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e23939', endColorstr='#bf3939', GradientType=0);
    background-color: #e23939;
    color: #fff;
    text-decoration: none;
}
.myButtonNo:active {
    position: relative;
    top: 1px;
    color: #fff;
    text-decoration: none;
}
.updateVals {
    width: 100%;
    margin-bottom: 10px;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.modalContent {
    padding: 20px;
}
.modalInput {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}
.boldText {
    font-weight: bold;
    font-size: 16px;
}
.modalInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #ccc
}
.modalInput:focus {
    border-bottom: 2px solid #d3d754
}
.success:before {
    content: "\f00c";
}
.selectContainer {
    height: 35px;
    width: auto;
    background-color: #404040;
    overflow: hidden;
    -webkit-transition: width ease 500ms;
    -moz-transition: width ease 500ms;
    -o-transition: width ease 500ms;
    transition: width ease 500ms;
}
#selectContainerCross {
    text-align: center;
    height: 35px;
    width: 20px;
    color: #fff;
    width: 0%;
    padding-top: 7px;
    float: right;
    background-color: red;
    -webkit-transition: all ease 100ms;
    -moz-transition: all ease 100ms;
    -o-transition: all ease 100ms;
    transition: all ease 100ms;
}
.checkContainer {
    height: 35px;
    width: 10%;
    background-color: #fff;
    float: left;
}
.crossWidth {
    width: 5%!important;
}
.searchWidth {
    width: 15%!important;
}
.autoWidth {
    width: 90%;
}
.selectContainer select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 35px;
    border: 0;
    background-color: #404040;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
}
#clientServerSelect {
    width: 30%;
    border-right: 2px solid #d3d754;
}
#optionSelect {
    width: 50%;
    border-right: 2px solid #d3d754;
}
#searchButton {
    width: 20%;
    background-color: #d3d754;
    height: 35px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 3px;
    -webkit-transition: all ease 100ms;
    -moz-transition: all ease 100ms;
    -o-transition: all ease 100ms;
    transition: all ease 100ms;
}
#searchButton:active {
    background-color: #404040;
    color: #d3d754;
}
.selectContainer select::-ms-expand {
    display: none;
}
#dbCheck {
    margin-top: 10px;
}
.nopadleft {
    padding-left: 0px;
}
.nopadright {
    padding-right: 0px;
}
.searchBar {
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.searchBarAlone {
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.searchLeft {
    margin-bottom: 20px;
}
.buttonsRight {
    text-align: right;
    margin-bottom: 20px;
}
.searchBarGroup {
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
}
#rundetailgroupselect select, #rundetailCont select {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    line-height: 17px!important;
    outline: none;
    border-color: #cccccc;
    padding-left: 10px;
    font-family: tescoregular;
    font-size: 16px;
    color: #404040;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/images/chevron.jpg) no-repeat right #ffffff;
    background-size: auto 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: 'PT Sans';

}
#clientDone, #databaseDone {
    color: green;

}
#clientFail, #databaseFail {
    color: red;

}
#rundetailgroupCont .fields, #rundetailgroupCont .runDetailgroupDivTableHeaders, #rundetailgroupCont .runGroupDivTableHeaders  {
    font-size: 15px!important;
}

#rundetailgroupCont select::-ms-expand, #rundetailCont select::-ms-expand {
    display: none;
}
.selectedGroup {
    background-color: #d3d754!important;
    color: #fff!important;
    border-color: #fff;
}
.selectedGroup .fields {
    color: #fff!important;
}
.centerGroupText {
    text-align: center;
    margin-bottom: 30px;
}
select { 
    outline:none; 
}
.successGroupCreate {
    color: green;
    padding-top: 10px;
    padding-bottom: 0px;
}
.failGroupCreate {
    color: red;
    padding-top: 10px;
    padding-bottom: 0px;
}
#createdGroups {
    padding-top: 0px;
    padding-bottom: 10px;
}
#failedGroups {
    padding-top: 0px;
    padding-bottom: 10px;
}
.justBottomBorder {
    border-bottom: 1px solid #ccc;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Run Detail Database? */
/* Adapted from: http://callmenick.com/post/css-toggle-switch-examples */

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
label {
    margin-bottom: 0px;
}

input.cmn-toggle-round-flat + label {
  /* width = 2*height or 2*border-radius */
  padding: 1px;
  width: 60px;
  height: 30px;
  border: 2px solid #dddddd;
  border-radius: 30px;
  transition: border-color 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:after {
  /* width = 2*border-radius */
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 26px;
  background-color: #dddddd;
  border-radius: 26px;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  border-color: #8ce196;
}

input.cmn-toggle-round-flat:checked + label:after {
  /* margin-left = border-radius from 'input.cmn-toggle-round-flat + label' */
  margin-left: 26px;
  background-color: #8ce196;
}
/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    
    #searchBar {
        margin-bottom: 20px;
    }
    #criteriaCont {
        margin-bottom: 20px;
    }
    
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    #sunnyBanner {
        padding: 20px;
        height: 80%;
        margin: 0 auto;
    }
}