@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 100%!important;
    padding: 0px!important;
}
.container {
    margin-top: 10px;
}
.nav-tabs > li {
    position: relative;
}
.nav-tabs > li > a {
    display: inline-block;
}
.nav-tabs > li > span {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 8px;
    color: red;
}
.nav-tabs > li:hover > span {
    display: inline-block;
}
/* Styles for body & html */

body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    font-family: 'Antic Slab';
    line-height: normal!important;
}
/* Styles for content within header */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    background-color: #404040;
    padding-left: 100px;
    padding-right: 100px;
    overflow: visible;
    z-index: 4;
    -webkit-transition: top ease 1s;
    -moz-transition: top ease 1s;
    -o-transition: top ease 1s;
    transition: top ease 1s;
}
#sunny {
    text-align: right;
}
.bye {
    top: -100px!important;
}
.headerHeight {
    height: 100px;
    padding: 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.centered {
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: width: 100%;
    max-width: 250px;
    margin-top: 10px;
}
.wrapperABS {
    left: 50%;
    position: absolute;
    margin: 0 auto;
    width: 200px;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
@media (max-width: 992px) {
    header {
        height: auto!important;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Styles for content within main */

.fullHeight {
    height: 100%;
}
.fullWidth {
    width: 100%;
}
main {
    z-index: 2;
    background-color: #ffffff;
    height: 100%;
    padding-top: 100px;
}
main > .container-fluid {
    background-color: #ffffff;
    height: 100%;
}
.container-fluid {
	padding-left: 0px!important;
	padding-right: 0px!important;
}
/* ########################### Side Nav Bar ########################### */
	.nav_button #burger {
	  position: relative;
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	  -webkit-transition: .6s ease-in-out;
	  transition: .6s ease-in-out;
	}
	.nav_button #burger span {
	  display: block;
	  position: absolute;
	  height: 3px;
	  width: 100%;
	  background: #d3d754;
	  border-radius: 9px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
		box-sizing: border-box;
	}
	.nav_button #burger.active-sandwich span {
		background-color: #f7941d;
}
	.nav_button #burger span:nth-child(1) {
	  top: 0;
	}
	.nav_button #burger span:nth-child(2), .nav_button #burger span:nth-child(3) {
	  top: 8px;
	}
	.nav_button #burger span:nth-child(4) {
	  top: 16px;
	}
	.nav_button #burger.active-sandwich span:nth-child(1) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}
	.nav_button #burger.active-sandwich span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
			  transform: rotate(45deg);
	}
	.nav_button #burger.active-sandwich span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
			  transform: rotate(-45deg);
	}
	.nav_button #burger.active-sandwich span:nth-child(4) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}
.wrappedEdit {
	z-index: 5;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	opacity: .5;
}
.balancer  {
	left: 50%;
	top: 50%;
	width: 20px;
	width: 13px;
	height: 13px;
	position: absolute;
}
.balancer:after{
	position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: '\f044';
	color: #fff;
	font-size: 10px;
	left: -50%;
	top: -50%;
	width: 13px;
	height: 13px;
}
.balancer:hover:after  {
	color: #d3d754;
}

.setWidthNav {
    position: fixed;
    top: 100px!important;
    bottom: 0;
    left: -200px;
    -webkit-transition: left ease 1s;
    -moz-transition: left ease 1s;
    -o-transition: left ease 1s;
    transition: left ease 1s;
    height: 100%;
    background-color: #ffffff;
    padding: 0px;
    width: 200px!important;
    background-color: #404040;
}
.menuIcon {
    content: '\f0c9';
    position: absolute;
    top: 0;
    right: -35px;
    font-family: FontAwesome;
    font-size: 30px;
    color: #d3d754;
    width: 35px;
    height: 30px;
    background-color: #404040;
    padding: 5px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}
.showNav {
    left: 0;
}
#sideNav {
    height: 100%;
    float: left;
    color: #ffffff;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
#sideNav2 {
    z-index: 1;
}
.menuItem {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Antic Slab';
    overflow: auto;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menuItem:hover {
    color: #d3d754;
}
.itemLine {
    height: 1px;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    opacity: .2;
    transition: width ease 300ms, opacity ease 300ms;
    -webkit-transition: width ease 300ms, opacity ease 300ms;
    -moz-transition: width ease 300ms, opacity ease 300ms;
    -o-transition: width ease 300ms, opacity ease 300ms;
    -ms-transition: width ease 300ms, opacity ease 300ms;
    overflow: auto;
}
.greenText {
    color: #d3d754;
}
.changed {
    height: 1px;
    background-color: #d3d754;
    width: 20%!important;
    margin: 0 auto;
    opacity: .9;
    overflow: auto;
}
.navText {
    width: 100%;
    text-align: center;
    float: right;
}
.navIcon {
    width: 10%;
    float: left;
}
.inactiveContent {
    display: none;
}
.activeContent {
    display: block;
}
.navIcon i {
    width: 10%;
    float: right;
}
.navIcon img {
    width: 100%
}
/* ########################### Tabs ########################### */

mainCont .row {
    margin: 0 !important;
}
.tab-content {
    margin-top: 20px;
    float: left;
}
.tab-content2 {
    float: left;
    margin-top: 20px;
}
.table,
.serverTable,
.databaseTable {
    width: 100%;
    /*border: 1px solid #cccccc;*/
}
.tabContainer {
    width: 100%;
    padding-bottom: 20px;
    overflow: auto
}
#contTwo,
#contThree,
#contFour {
    display: none;
}
.clear {
    clear: both;
}
.tabText {
    display: table;
    vertical-align: middle;
    height: 100%;
}
.centerTabText {
    display: table-cell;
    vertical-align: middle;
}
.removeheight {
    height: 40px;
    display: table;
}
.tab_wrapper {
    width: 100%;
    background-color: #fff;
    height: 40px;
    border-bottom: 1px solid #D3D754;
}
.inputABLE input {
    width: 100%!important;
    height: 100%!important;
    margin: 0px!important;
    word-break: break-all;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: 4px solid !important;
    padding: 0px;
    font-size: 13px!important;
    border: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    -webkit-appearance: none!important;
    -webkit-border-radius: 0!important;
}
.searchDiv {
	-webkit-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.18);
}
.absoluteButton {
  position: absolute;
  font-family: FontAwesome;
  right: 0px;
  bottom: 0px;
  font-size: 12px;
  width: 15px;
  height: 14px;
  vertical-align: middle;
  text-align: center;
  color:#d3d754;
  background: -moz-linear-gradient(90deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(117,117,117,1)), color-stop(100%, rgba(0,0,0,0.85))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
}
.absoluteButton > i:before {
   display: inline-block;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
textarea,
input,
button {
    outline: none;
}
.tabstyle {
    background-color: #cccccc;
    width: 16%;
    float: left;
    height: 40px;
    display: table;
    color: #404040;
    border-bottom: 0px solid #D3D754;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabstyle:hover {
    background-color: #D3D754;
}
.tabstyleplus {
    background-color: #404040;
    width: 40px;
    float: left;
    height: 40px;
    display: table;
    color: #ffffff;
    border-bottom: 1px solid #D3D754;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.center {
    display: table-cell;
    text-align: center;
    vertical-align: middle!important;
    height: 40px;
}
.removelol {
    float: right;
    width: 30%;
    display: table-cell;
    height: 100%;
}
.tabText {
    float: left;
    width: 70%;
}
.glyphicon-remove:before {
    vertical-align: middle;
    color: red;
    zoom: 80%;
}
.glyphicon-remove:hover::before {
    color: white!important;
}
.tabstyleplus .glyphicon-plus:before {
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    display: block;
}
.tabstyleplus .glyphicon-plus:hover:before {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.active {
    background-color: #D3D754;
    color: #404040;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 0px!important;
}
/* ########################### Main Body Container ########################### */

#mainCont {
    background-color: #ffffff!important;
    padding-top: 50px!important;
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
}
.headerText {
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
}
/* ########################### Form Element Styles ########################### */

select {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
    height: 30px;
    border-width: 2px border-style: solid;
    line-height: 17px!important;
    outline: none;
    border-color: #cccccc;
    padding-left: 10px;
    font-family: tescoregular;
    font-size: 16px;
    color: #404040;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    appearance: none;
    background: url(/images/chevron.jpg) no-repeat right #ffffff;
    background-size: auto 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: 'PT Sans';
}
select::-ms-expand {
    display: none;
}
 .refreshList {
	color: grey;
	position: absolute;
	right: -80px;
	top: 0px;
	background-color: #fff;
	padding: 8px 10px 8px 10px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
 }
 .addType {
	color: #d3d754;
	position: absolute;
	right: -40px;								 
	top: 0px;
	background-color: #fff;
	padding: 8px 10px 8px 10px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
 }
#CurrentPage {
	font-size: 40px;
	margin-bottom: 20px;
}
 .addType:hover {
	color: #fff;
	background-color: #d3d754;
 }
.refreshList:hover {
	color: #fff;
	background-color: grey;
 }
 .refreshList i, .addType i {
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;

 }
 .refreshList i:hover, .addType i:hover {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);

 }
 #contTwo input[type=text] , #contThree input[type=text] , #contFour input[type=text] , #contFive input[type=text] , #contSix input[type=text] ,#contSeven input[type=text], #contOne .search,#modalReason input[type=text], #contEight input[type=text], #contNine input[type=text] {
    margin: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 30px!important;
    height: 30px!important;
    width: 100%!important;
    border-width: 1px!important;
    border-style: solid!important;
    line-height: 17px!important;
    outline: none!important;
    border-color: #cccccc;
    padding-left: 10px!important;
    font-family: tescoregular;
    font-size: 16px!important;
    color: #404040!important;
    -webkit-appearance: none!important;
    -webkit-border-radius: 0px!important;
    -moz-appearance: none!important;
    -webkit-border-radius: 8px!important;
    -moz-border-radius: 8px!important;
    border-radius: 8px!important;
    font-family: 'PT Sans'!important;
}

.paddingClass {
	padding: 0px!important;
	padding: 0px!important;
}
#contOne input[type=text] {
    margin: 0px;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    line-height: 17px!important;
    outline: none;
    border-color: #cccccc;
    padding-left: 10px;
    font-family: tescoregular;
    font-size: 16px;
    color: #404040;
    -webkit-appearance: none;
    font-family: 'PT Sans';
}
td.inputABLE {
    width: 20%!important;
    width: 20%!important;
    height: 35px!important;
}
textarea,
input {
    outline: none;
}
.editOptionReload {
    color: grey;
    padding-left: 0px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editOptionReload:hover {
    background-color: #cccccc;
    color: #fff;
}
.editRunOptionReload {
    color: grey;
    padding-left: 0px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editRunOptionReload:hover {
    background-color: #cccccc;
    color: #fff;
}
.editRunOptionUpdate {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: green;
    font-size: 20px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editRunOptionUpdate:hover {
    background-color: #cccccc;
    color: #fff;
}
.editOptionUpdate2 {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: green;
    font-size: 20px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editOptionUpdate2:hover {
    background-color: #cccccc;
    color: #fff;
}
.editOptionReload2 {
    color: grey;
    padding-left: 0px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editOptionReload2:hover {
    background-color: #cccccc;
    color: #fff;
}
.editServerOptionReload {
    color: grey;
    padding-left: 0px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editDatabaseOptionReload {
    color: grey;
    padding-left: 0px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editDatabaseOptionReload:hover {
    background-color: #cccccc;
    color: #fff;
}
.editDatabaseOptionUpdate {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: green;
    font-size: 20px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editDatabaseOptionUpdate:hover {
    background-color: #cccccc;
    color: #fff;
}
.editServerOptionReload:hover {
    background-color: #cccccc;
    color: #fff;
}
.editOptionUpdate {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: green;
    font-size: 20px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editOptionUpdate:hover {
    background-color: #cccccc;
    color: #fff;
}
.editServerOptionUpdate {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: green;
    font-size: 20px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editServerOptionUpdate:hover {
    background-color: #cccccc;
    color: #fff;
}
.editOptionDelete2 {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: red;
    font-size: 24px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -o-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -khtml-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.editOptionDelete2:hover {
    background-color: #cccccc;
    color: #fff;
}
.editButtons {
    padding: 0px!Important;
    border-left: 0px!important;
    border-right: 0px!important;
    border-bottom: 0px!important;
    border-bottom: 0px!important;
}
div.editCont1 {
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    margin-top: 5px;
    width: 100%;
    vertical-align: middle;
    padding-bottom: 5px;
    border-bottom: 5px solid #d3d754;
	position: relative;
}
div.editCont {
    float: right;
    display: table!important;
    margin-top: 5px;
    vertical-align: middle;
	position: relative;
	    z-index: 1;
}
#leftBord {
  border-left: 1px solid #fff;
}
.topBord {
  border-top: 1px solid #fff;
}


#clientTableSearch {
  	width: 100%;
	font-family: arial;
	background: -moz-linear-gradient(90deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(117,117,117,1)), color-stop(100%, rgba(0,0,0,0.85))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(117,117,117,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
	height: 40px;
	padding-top: 15px;
	position: relative;
}
.Twentypercent td{
  width: 20%;
}
.overFlowable {
  overflow: auto;
}
.ArrowAfter {
  position: relative;
}
.tr {
  position:  relative;
}
.activeButtons1:before {

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
input[type=text]:focus {
  border-color: #d3d754;
  box-shadow: 0 1px 1px #d3d754 inset, 0 0 8px #d3d754;
  outline: 0 none;
}
.divTable{
	display: table;
	width: 100%;
  border: 1px solid #ccc;
  -webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
  border-spacing:0px 0px;

}
.divTableRow {
	position: relative;
	height: auto;
	
}

.divTableCell {
	display: table-cell;
	width: 20%!important;
	position: relative;

}
.divTableBody {
	display: table-row-group;
}
.divTableHeaders {
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
	width: 20%;
	float: left;
	color:#fff;
	font-family: arial;
	text-align: center;	
}
  .leftBorderRad {
	  -webkit-border-radius: 5px 0px 0px 0px;
		-moz-border-radius: 5px 0px 0px 0px;
		border-radius: 5px 0px 0px 0px;
  }
  .rightBorderRad {
	  -webkit-border-radius: 0px 5px 0px 0px;
		-moz-border-radius: 0px 5px 0px 0px;
		border-radius: 0px 5px 0px 0px;
  }
	.leftAfter {
	  position: relative;

  }
  .divNormalCell {
	   padding: 10px;
      height: 30px;
      float: left;
      overflow: hidden;
      position: relative;
      user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
      text-overflow: ellipsis; 
  }
.cellRow {
  overflow: auto;
  width: 100%;
  height: auto;
  position: relative;
}
.circ{
opacity: 0;
stroke-dasharray: 130;
stroke-dashoffset: 130;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-ms-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
}
.tick{
	stroke-dasharray: 50;
	position: absolute;
		stroke-dashoffset: 50;
	-webkit-transition: stroke-dashoffset 0.5s 0.1s ease-out;
	-moz-transition: stroke-dashoffset 0.5s 0.1s ease-out;
	-ms-transition: stroke-dashoffset 0.5s 0.1s ease-out;
	-o-transition: stroke-dashoffset 0.5s 0.1s ease-out;
	transition: stroke-dashoffset 0.5s 0.1s ease-out;
}
.drawn + svg .path{
opacity: 1;
stroke-dashoffset: 0;
}
.abTick {
position: absolute;
left: 50%;
top: 50%;
	z-index: 1
}
.centTick {
position: absolute;
left: -50%;
top: -50%;
width: 40px;
}
.bridge {
display: block;
position: relative;
}
.editOptionUpdate,
.editOptionReload,
.editDatabaseOptionReload,
.editRunOptionReload,
.editOptionUpdate2,
.editOptionReload2 {
    display: table-cell!important;
}
.editServerOptionUpdate,
.editServerOptionReload,
.editDatabaseOptionUpdate,
.editRunOptionUpdate {
    display: table-cell!important;
}
.headerRow td {
    font-weight: bold;
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}
#updated,
#refreshed ,
#deleted{
    display: none;
}
#updated,
#refreshed,
#deleted{
    width: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: green;
    color: white;
    float: left;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
}
.serverTable td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    width: 20%!important
}
.databaseTable td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    width: 16%!important
}
.table {
    margin-bottom: 0px!important;
}
.inputABLE {
    position: relative;
}
/*
.inputABLE:hover:after {
    background-color: rgba(0, 0, 0, 0.2);
    content: "\f040";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    opacity: 1;
    color: #fff;
    left: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    right: 0;
    height: 100%;
    width: 100%;
}
*/
/*################### SUBMIT INPUT STYLE CLASSES ##################*/

input[type="submit"],
button {
    margin: 0 auto;
    font-size: 16px;
    clear: both;
    display: inline-block;
    height: 40px;
    padding: 0px 20px;
    text-align: center;
    line-height: 0px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -khtml-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    -o-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -khtml-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    border: 1px solid;
    cursor: pointer;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #D3D754;
    border-color: #D3D754;
    border: 2px solid #D3D754;
}
button#YesAssocButton, #YesGroupButton {
    margin: 0 auto;
    font-size: 16px;
    clear: both;
    display: inline-block;
    height: 30px;
    padding: 0px 20px;
    text-align: center;
    line-height: 0px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -khtml-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    -o-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -khtml-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    border: 1px solid;
    cursor: pointer;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #D3D754;
    border-color: #D3D754;
    border: 2px solid #D3D754;
}
button#NoAssocButton, #NoGroupButton {
    margin: 0 auto;
    font-size: 16px;
    clear: both;
    display: inline-block;
    height: 30px;
    padding: 0px 20px;
    text-align: center;
    line-height: 0px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -khtml-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    -o-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -khtml-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    border: 1px solid;
    cursor: pointer;
    box-sizing: border-box;
    color: #ffffff;
    background-color: red;
    border-color: red;
    border: 2px solid red;
}
input[type="submit"]:hover {
    color: #D3D754;
    background-color: #ffffff;
    border-color: #ffffff;
    border: 2px solid #D3D754;
}
button#NoAssocButton:hover, #NoGroupButton:hover {
    color: red;
    background-color: #ffffff;
    border-color: #ffffff;
    border: 2px solid red;
}
button#YesAssocButton:hover, #YesGroupButton:hover {
    color: #D3D754;
    background-color: #ffffff;
    border-color: #ffffff;
    border: 2px solid #D3D754;
}
.filterinput {
    margin-top: 20px!important;
    margin-bottom: 0px!important;
}
#GridDiv {
    width: 400px;
    height: auto;
    min-height: 100px;
    background-color: white;
    text-align: center;
}
.draggable {
    width: 300px;
    height: auto;
    min-height: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
#selectedGroupCont {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.selectedGroupClass {
    font-size: 20px!important;
}
.detailsHeader {
    font-size: 23px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.detailsHeader2 {
    font-size: 23px;
    margin-bottom: 20px;
}
.runDetailsHeader {
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
#addRunGroupSubmit {
    margin-top: 20px;
}
.dropDetails {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
    position: relative;
    vertical-align: middle;
    border: 2px dotted #ccc;
    -o-transition: background-color, font-size 0.2s ease;
    -moz-transition: background-color, font-size 0.2s ease;
    -khtml-transition: background-color, font-size 0.2s ease;
    -webkit-transition: background-color, font-size 0.2s ease;
    -ms-transition: background-color, font-size 0.2s ease;
    transition: background-color, font-size 0.2s ease;
}
#PlaceHoldRun2 {
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
}
ul#sortable1 {
    -o-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -khtml-transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    transition: height 0.2s ease;
    height: 25px;
}
ul#sortable2 {
    text-align: center;
    border: 2px dotted #ccc;
    padding: 20px;
}
.autoHeightClass {
    height: auto!important;
}
#tickSize,
svg {
    width: 100px;
    position: absolute;
    left: -50%;
	top: -50%;
}
.surroundDiv {
    position: absolute;
    left: 50%;
}
.circ {
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.drawn + svg .path {
    opacity: 1;
    stroke-dashoffset: 0;
}
.tableWrapS {
    border: 0px;
    width: 100%;
    height: auto;
    overflow: auto;
}
.dropDetails {
    padding: 10px;
}
.dropPlaceholder {
    vertical-align: middle;
    display: table-cell;
}
.tableWrapper {
    display: table;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.absoluteCenter {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 10px;
    height: 10px;
}
#box {
    width: 300px;
    height: 200px;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    margin: 5% auto 0 auto;
    background: url(http://ianfarb.com/wp-content/uploads/2013/10/nicholas-hodag.jpg);
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
}
#overlay {
    background: rgba(0, 0, 0, .75);
    text-align: center;
    padding: 45px 0 66px 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
}
#box:hover #overlay {
    opacity: 1;
}
#plus {
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255, 255, 255, .85);
    font-size: 96px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    display: table;
    vertical-align: middle;
}
li:hover a {
    background-color: #D3D754;
    color: #fff;
    -o-transition: background-color, color 0.2s ease;
    -moz-transition: background-color, color 0.2s ease;
    -khtml-transition: background-color, color 0.2s ease;
    -webkit-transition: background-color, color 0.2s ease;
    -ms-transition: background-color, color 0.2s ease;
    transition: background-color, color 0.2s ease;
    text-decoration: none;
}
li a {
    height: 100%;
    width: 100%;
    background-color: #ccc;
    color: #000;
    text-align: center;
    display: block;
    font-size: 20px;
    vertical-align: middle;
    margin: 0 auto;
}
a .isTable {
    height: 100%;
    width: 100%;
    display: table;
}
a .isCell {
    display: table-cell;
    vertical-align: middle
}
.widthAdjust {
    width: 50%
}
.activePlaceholder {
    height: 200px;
    background-color: #ccc;
}
/* ########################### Cloud Overlay ########################### */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 2;
    opacity: 0.4;
}
#cloud {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100px;
    background-color: #ffffff;
    height: 80px;
    border-radius: 50%;
    z-index: 3;
}
#cloud:before {
    content: "";
    width: 80px;
    height: 60px;
    background-color: #fff;
    position: absolute;
    left: -30%;
    border-radius: 50%;
    top: 20%;
    z-index: 3;
}
#cloud:after {
    content: "";
    width: 60px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    right: -30%;
    border-radius: 50%;
    top: 30%;
    z-index: 3;
}
#sun {
    z-index: 2!important;
    position: absolute;
    top: -50%;
    left: -50%;
}
#sunImg {
    width: 80px;
}
#fixer {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
}
/* ########################### Weather icons ########################### */

.icon {
    position: relative;
    display: inline-block;
    width: 12em;
    height: 10em;
    font-size: 1em;
    /* control icon size here */
}
.cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #7a7a7a, -2.1875em 0.6875em 0 -0.3125em #7a7a7a, 2.0625em 0.9375em 0 -0.5625em #7a7a7a;
}
.cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: #ffffff;
    box-shadow: 0 0.4375em 0 -0.0625em #7a7a7a;
}
.cloud:nth-child(2) {
    z-index: 0;
    background: #7a7a7a;
    box-shadow: -2.1875em 0.6875em 0 -0.6875em #7a7a7a, 2.0625em 0.9375em 0 -0.9375em #7a7a7a, 0 0 0 0.375em #7a7a7a, -2.1875em 0.6875em 0 -0.3125em #7a7a7a, 2.0625em 0.9375em 0 -0.5625em #7a7a7a;
    opacity: 0.3;
    -webkit-transform: scale(0.5) translate(6em, -3em);
    transform: scale(0.5) translate(6em, -3em);
    -webkit-animation: cloud 4s linear infinite;
    animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after {
    background: #7a7a7a;
}
.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: -1.25em;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 0.375em #FDB813;
    -webkit-animation: spin 12s infinite linear;
    animation: spin 12s infinite linear;
}
.rays {
    position: absolute;
    top: -2em;
    left: 50%;
    display: block;
    width: 0.375em;
    height: 1.125em;
    margin-left: -0.1875em;
    background: #FDB813;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #FDB813;
}
.rays:before,
.rays:after {
    content: '';
    position: absolute;
    top: 0em;
    left: 0em;
    display: block;
    width: 0.375em;
    height: 1.125em;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-transform-origin: 50% 3.25em;
    transform-origin: 50% 3.25em;
    background: #FDB813;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #FDB813;
}
.rays:before {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}
.cloud + .sun {
    margin: -2em 1em;
}
.rain,
.lightning,
.snow {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 3.75em;
    height: 3.75em;
    margin: 0.375em 0 0 -2em;
    background: #ffffff;
}
.rain:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 1.125em;
    height: 1.125em;
    margin: -1em 0 0 -0.25em;
    background: #0cf;
    border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
    -webkit-animation: rain 3s linear infinite;
    animation: rain 3s linear infinite;
}
.bolt {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.25em 0 0 -0.125em;
    color: #fff;
    opacity: 0.3;
    -webkit-animation: lightning 2s linear infinite;
    animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
    width: 0.5em;
    height: 0.25em;
    margin: -1.75em 0 0 -1.875em;
    -webkit-transform: translate(2.5em, 2.25em);
    transform: translate(2.5em, 2.25em);
    opacity: 0.2;
    -webkit-animation: lightning 1.5s linear infinite;
    animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -1.625em 0 0 -1.0125em;
    border-top: 1.25em solid transparent;
    border-right: 0.75em solid;
    border-bottom: 0.75em solid;
    border-left: 0.5em solid transparent;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
}
.bolt:after {
    margin: -0.25em 0 0 -0.25em;
    border-top: 0.75em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 1.25em solid transparent;
    border-left: 0.75em solid;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
    margin: -0.75em 0 0 -0.5em;
    border-top: 0.625em solid transparent;
    border-right: 0.375em solid;
    border-bottom: 0.375em solid;
    border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
    margin: -0.125em 0 0 -0.125em;
    border-top: 0.375em solid;
    border-right: 0.25em solid transparent;
    border-bottom: 0.625em solid transparent;
    border-left: 0.375em solid;
}
.flake:before,
.flake:after {
    content: '\2744';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.025em 0 0 -1.0125em;
    color: #fff;
    list-height: 1em;
    opacity: 0.2;
    -webkit-animation: spin 8s linear infinite reverse;
    animation: spin 8s linear infinite reverse;
}
.flake:after {
    margin: 0.125em 0 0 -1em;
    font-size: 1.5em;
    opacity: 0.4;
    -webkit-animation: spin 14s linear infinite;
    animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
    margin: -0.5em 0 0 0.25em;
    font-size: 1.25em;
    opacity: 0.2;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
    margin: 0.375em 0 0 0.125em;
    font-size: 2em;
    opacity: 0.4;
    -webkit-animation: spin 16s linear infinite reverse;
    animation: spin 16s linear infinite reverse;
}
/* Animations */

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes cloud {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.5) translate(-200%, -3em);
        transform: scale(0.5) translate(-200%, -3em);
    }
}
@keyframes cloud {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.5) translate(-200%, -3em);
        transform: scale(0.5) translate(-200%, -3em);
    }
}
@-webkit-keyframes rain {
    0% {
        background: #0cf;
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
    }
    25% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }
    50% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
    }
}
@keyframes rain {
    0% {
        background: #0cf;
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
    }
    25% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }
    50% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
    }
}
@-webkit-keyframes lightning {
    45% {
        color: #eccb15;
        background: #eccb15;
        opacity: 0.2;
    }
    50% {
        color: #eccb15;
        background: #eccb15;
        opacity: 1;
    }
    55% {
        color: #eccb15;
        background: #eccb15;
        opacity: 0.2;
    }
}
@keyframes lightning {
    45% {
        color: #eccb15;
        background: #eccb15;
        opacity: 0.2;
    }
    50% {
        color: #eccb15;
        background: #eccb15;
        opacity: 1;
    }
    55% {
        color: #eccb15;
        background: #eccb15;
        opacity: 0.2;
    }
}
/* ########################### Media Queries ########################### */

.row {
    margin: 0px!important;
}
@media (min-width: 1410px) {} @media (max-width: 750px) {
    .hideIcon {
        display: none;
        margin: 0 auto;
        float: none;
        width: 100%;
    }
    .navText {
        width: 100%;
        text-align: center;
        float: right;
        font-size: 16px;
    }
    .hideMob {
        display: none!important;
    }
    .widthAdjust {
        width: 100%
    }
}
@media (max-width: 520px) {
    .hideIcon {
        display: block!important;
    }
    .hideText {
        display: none!important;
    }
}
@media (max-width: 992px) {
    main {} #mainCont {
        padding: 20px!important;
    }
}
#cont {
    margin-top: 50px;
    float: none;
    text-align: center;
}
#button {
    margin: 0 auto;
}
#low {
    z-index: 1;
}
.wrap {
    float: left;
}
.arrow {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    margin-bottom: -3px!important;
}
.arrow span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #efefef;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.arrow span:first-of-type {
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow span:last-of-type {
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.arrow.activeArrow span:first-of-type {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.arrow.activeArrow span:last-of-type {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
#tickboxwrap {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 15px;
}
#tableYes {
    margin-top: -3px;
    margin-right: 20px;
}
#modalfull {
    position: fixed;
    background-color: #333333;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: .8;
}
.cont,
.cont1 {
    display: none;
    z-index: 1;
}
#modal {
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: auto;
    left: 50%;
    top: 50%;
    background-color: #fff;
    z-index: 3;
    opacity: 1.0!important;
    padding: 30px;
	-webkit-transition: all ease-in 1s;
    -moz-transition: all ease-in 1s;
    -o-transition: all ease-in 1s;
    transition: all ease-in 1s;
}
.makeCircle {
	height: 200px!important;
	width: 200px!important;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.addThisPls {
	height: 200px!important;
	width: 200px!important;
}
#modal2 {
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: auto;
    left: 50%;
    top: 80%;
    background-color: #fff;
    z-index: 3;
    opacity: 1.0!important;
    padding: 30px;
}
.centerthatshit {
    position: absolute;
    right: 50%;
    bottom: 50%;
    width: 400px;
    height: 700px;
}
.floatLeft {
    float: left;
    width: 48%;
}
.floatRight {
    float: right;
    width: 48%;
}
.buttonContainer {
    margin-top: 20px;
}
 .sectionChanger2 {
    width: 100%;
    overflow: auto;
    margin-bottom: 30px;

}
.sectionChanger {
    width: 100%;
    overflow: auto;
    margin-bottom: 30px;

}

	
#manageRunChanger, #SpecificClientChanger, #manageRunScopeChanger, #manageGroupChanger {
    padding: 10px 20px;
	font-size: 20px;
    float: left;
    background-color: #ccc;
	transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis; 
	text-align: center;
}

.activeChanger {
	border-top: 5px solid #d3d754!important;
    background-color: white !important;
}
#addGroupChanger, #addRunScopeChanger, #addGroupChanger2 {
    padding: 10px 20px;
    float: left;
    background-color: #ccc;
	transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
	font-size: 20px;
	width: 33.3333333%;
	overflow: hidden;
	text-overflow: ellipsis; 
	text-align: center;

}
.allSections  {
    padding: 10px 20px;
    float: left;
    background-color: #ccc;
	text-align: center;
	width: 25%;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis; 
	transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;

}
